<div>
    <a href="/metings/add">
        <button class="btn btn-success">+ New Meting</button>
    </a>
</div>
<table class="table table-dark float-left ">

    <thead>
        <tr>
            <th colspan="8" scope="rowgroup" class="text-center">Metings</th>
        </tr>
        <tr class="text-center table-dark text-dark">
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Date</th>
            <th scope="col">User</th>
            <th scope="col">Client</th>
            <th scope="col">Virtual</th>
            <th colspan="2" scope="col">Actions</th>
        </tr>

    </thead>
    <tbody>
        {{#if metings}}
        {{#each metings}}
        {{#each this}}
        {{#if title}}
        <tr class="text-center table-light text-dark">
            <th scope="row">{{_id}}</th>
            <td>{{title}}</td>
            <td>{{date}}</td>
            <td>{{user}}</td>
            <td>{{client}}</td>
            <td>
                {{#if isVirtual }}
                <input type="checkbox" name="isVirtual" value="1" checked>
                {{else}}
                <input type="checkbox" name="isVirtual" value="1">
                {{/if}}
            </td>
            <td>
                <a href="/metings/view/{{_id}}" class="btn btn-success btn-block">View</a>
                <a href="/metings/edit/{{_id}}" class="btn btn-primary btn-block mt-0">Edit</a>
                <form action="/metings/delete/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger btn-block ">Delete</button>
                </form>
            </td>
        </tr>
        {{/if}}
        {{/each}}
        {{/each}}
        {{/if }}


    </tbody>
</table>