<div class="col-md-4 mx-auto">
    <div class="card text-center">
        <div class="card-header">
            <h3>Edit Meting</h3>
        </div>
        <div class="card-body">
            <form action="/metings/edit-meting/{{meting._id}}?_method=PUT" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <div class="form-group">
                    <div class="form-group">
                        <input type="text" name="title" class="form-control" placeholder="Title"
                            value="{{meting.title}}" required autofocus>
                    </div>
                    <input type="datetime-local" name="date" class="form-control" placeholder="Name"
                        value="{{meting.date}}" required>
                </div>

                <div class="form-group">
                    <label for="cars">Users:</label>
                    <select id="cars" name="user" class="form-control" required>
                        <option value="{{meting.user}}" hidden="hidden" selected="selected">{{meting.user}}</option>
                        {{#each users}}
                        <option value="{{name}} {{lastname}}">{{name}} {{lastname}}</option>

                        {{/each}}
                    </select>

                </div>

                <div class="form-group">
                    <label for="cars">Clients:</label>
                    <select id="cars" name="client" class="form-control" required>

                        <option value="Ninguno">Ninguno</option>
                        <option value="{{meting.client}}" hidden="hidden" selected="selected">{{meting.client}}</option>
                        {{#each clients}}
                        <option value="{{name}}">{{name}}</option>

                        {{/each}}
                    </select>

                </div>

                <div class="form-group">
                    <label for="">Is Virtual</label>

                    {{#if meting.isVirtual }}
                    <input type="checkbox" name="isVirtual" value="1" checked>
                    {{else}}
                    <input type="checkbox" name="isVirtual" value="1">
                    {{/if}}

                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>