<div class="col-md-4 mx-auto">
    <div class="card text-center">
        <div class="card-header">
            <h3>New Meting</h3>
        </div>
        <div class="card-body">
            <form action="/metings/new-meting" method="POST">
                <div class="form-group">
                    <div class="form-group">
                        <input type="text" name="title" class="form-control" placeholder="Title" required autofocus>
                    </div>
                    <input type="datetime-local" name="date" class="form-control" placeholder="Name" required>
                </div>

                <div class="form-group">
                    <label for="cars">Users:</label>
                    <select id="cars" name="user" class="form-control" required>

                        {{#each users}}
                        <option value="{{name}} {{lastname}}">{{name}} {{lastname}}</option>

                        {{/each}}
                    </select>

                </div>

                <div class="form-group">
                    <label for="cars">Clients:</label>
                    <select id="cars" name="client" class="form-control" required>

                        <option value="Ninguno">Ninguno</option>
                        {{#each clients}}
                        <option value="{{name}}">{{name}}</option>

                        {{/each}}
                    </select>

                </div>

                <div class="form-group">
                    <label for="">Is Virtual</label>
                    <input type="checkbox" name="isVirtual" value="1" checked>

                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>