<div>
    <a href="/clients/add">
        <button class="btn btn-success">+ New Client</button>
    </a>
</div>
<table class="table table-dark float-left ">

    <thead>
        <tr>
            <th colspan="8" scope="rowgroup" class="text-center">Clients</th>
        </tr>
        <tr class="text-center table-dark text-dark">
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Cédula Juridica</th>
            <th scope="col">Web</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">Sector</th>
            <th colspan="2" scope="col">Actions</th>
        </tr>

    </thead>
    <tbody>
        {{#if clients}}
        {{#each clients}}
        {{#each this}}
        {{#if name}}
        <tr class="text-center table-light text-dark">
            <th scope="row">{{_id}}</th>
            <td>{{name}}</td>
            <td>{{idJuridica}}</td>
            <td>{{web}}</td>
            <td>{{address}}</td>
            <td>{{phone}}</td>
            <td>{{sector}}</td>
            <td>
                <a href="/clients/view/{{_id}}" class="btn btn-success btn-block">View</a>
                <a href="/clients/edit/{{_id}}" class="btn btn-primary btn-block mt-0">Edit</a>
                <form action="/clients/delete/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger btn-block ">Delete</button>
                </form>
                <a href="/contacts/{{_id}}" class="btn btn-info btn-block">Contact</a>
                <a href="/tickets/{{_id}}" class="btn btn-secondary btn-block mt-0">Ticket</a>
            </td>
        </tr>
        {{/if}}
        {{/each}}
        {{/each}}
        {{/if }}


    </tbody>
</table>