<div class="col-md-4 mx-auto">
    <div class="card text-center">
        <div class="card-header">
            <h3>Edit Client</h3>
        </div>
        <div class="card-body">
            <form action="/clients/edit/{{client._id}}?_method=PUT" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <div class="form-group">
                    <input type="text" name="name" class="form-control" value="{{client.name}}" placeholder="Name"
                        autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="idJuridica" class="form-control" value="{{client.idJuridica}}"
                        placeholder="Cédula Juridica">
                </div>
                <div class="form-group">
                    <input type="text" name="web" class="form-control" value="{{client.web}}" placeholder="Web">
                </div>
                <div class="form-group">
                    <input type="text" name="address" class="form-control" value="{{client.address}}"
                        placeholder="Address">
                </div>
                <div class="form-group">
                    <input type="text" name="phone" class="form-control" value="{{client.phone}}" placeholder="Phone">
                </div>
                <div class="form-group">
                    <label for="sector">Sector: </label>
                    <select name="sector" id="sector">
                        <option value="{{client.sector}}" hidden="hidden" selected="selected">{{client.sector}}</option>
                        <option value="Educacion">Educacion</option>
                        <option value="Industria">Industria</option>
                        <option value="Agricultura">Agricultura</option>
                        <option value="Manufactura">Manufactura</option>
                        <option value="Servicios">Servicios</option>
                        <option value="Otros">Otros</option>

                    </select>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>