<div class="col-md-4 mx-auto">
    <div class="card text-center">
        <div class="card-header">
            <h3>New Client</h3>
        </div>
        <div class="card-body">
            <form action="/clients/new-client" method="POST">
                <div class="form-group">
                    <input type="text" name="name" class="form-control" placeholder="Name" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="idJuridica" class="form-control" placeholder="Cédula Juridica">
                </div>
                <div class="form-group">
                    <input type="text" name="web" class="form-control" placeholder="Web">
                </div>
                <div class="form-group">
                    <input type="text" name="address" class="form-control" placeholder="Address">
                </div>
                <div class="form-group">
                    <input type="text" name="phone" class="form-control" placeholder="Phone">
                </div>
                <div class="form-group">
                    <label for="sector">Sector: </label>
                    <select name="sector" id="sector">
                        <option value="Educacion" selected>Educacion</option>
                        <option value="Industria">Industria</option>
                        <option value="Agricultura">Agricultura</option>
                        <option value="Manufactura">Manufactura</option>
                        <option value="Servicios">Servicios</option>
                        <option value="Otros">Otros</option>
                    </select>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-block">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>