<div>
    <a href="/tickets/add/{{idClient}}">
        <button class="btn btn-success">+ New Ticket</button>
    </a>
</div>
<table class="table table-dark float-left ">

    <thead>
        <tr>
            <th colspan="8" scope="rowgroup" class="text-center">Tickets</th>
        </tr>
        <tr class="text-center table-dark text-dark">
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Detail</th>
            <th scope="col">Person</th>
            <th scope="col">Client</th>
            <th scope="col">State</th>
            <th colspan="2" scope="col">Actions</th>
        </tr>

    </thead>
    <tbody>
        {{#if tickets}}
        {{#each tickets}}
        {{#each this}}
        {{#if title}}
        <tr class="text-center table-light text-dark">
            <th scope="row">{{_id}}</th>
            <td>{{title}}</td>
            <td>{{detail}}</td>
            <td>{{person}}</td>
            <td>{{client}}</td>
            <td>{{state}}</td>
            <td>
                <a href="/tickets/view/{{_id}}" class="btn btn-success btn-block">View</a>
                <a href="/tickets/edit/{{_id}}" class="btn btn-primary btn-block mt-0">Edit</a>
                <form action="/tickets/delete/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="idClient" value="{{client}}">
                    <button type="submit" class="btn btn-danger btn-block ">Delete</button>
                </form>
            </td>
        </tr>
        {{/if}}
        {{/each}}
        {{/each}}
        {{/if }}


    </tbody>
</table>