<div class="col-md-4 mx-auto">
    <div class="card text-center">
        <div class="card-header">
            <h3>Edit Tickets</h3>
        </div>
        <div class="card-body">
            <form action="/tickets/edit-ticket/{{ticket._id}}?_method=PUT" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <div class="form-group">
                    <input type="" name="title" class="form-control" value="{{ticket.title}}" placeholder="Title"
                        required autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="detail" class="form-control" value="{{ticket.detail}}"
                        placeholder="Detalle" required>
                </div>
                <div class="form-group">
                    <input type="text" name="person" class="form-control" value="{{ticket.person}}"
                        placeholder="Persona" required>
                </div>
                <div class="form-group">
                    <input type="hidden" name="client" class="form-control" value="{{ticket.client}}" required>
                </div>

                <div class="form-group">
                    <label for="states">State:</label>
                    <select id="states" name="state" class="form-control" required>
                        <option value="{{ticket.state}}" hidden="hidden" selected="selected">{{ticket.state}}</option>
                        <option value="Abierto">Abierto</option>
                        <option value="Proceso">Proceso</option>
                        <option value="Espera">Espera</option>
                        <option value="Finalizado">Finalizado</option>
                    </select>

                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>