<div class="col-md-4 mx-auto">
    <div class="card text-center">
        <div class="card-header">
            <h3>New Tickets</h3>
        </div>
        <div class="card-body">
            <form action="/tickets/new-ticket" method="POST">
                <div class="form-group">
                    <input type="" name="title" class="form-control" placeholder="Title" required autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="detail" class="form-control" placeholder="Detalle" required>
                </div>
                <div class="form-group">
                    <input type="text" name="person" class="form-control" placeholder="Persona" required>
                </div>
                <div class="form-group">
                    <input type="hidden" name="client" class="form-control" value="{{idClient}}" required>
                </div>

                <div class="form-group">
                    <label for="states">State:</label>
                    <select id="states" name="state" class="form-control" required>
                        <option value="Abierto">Abierto</option>
                        <option value="Proceso">Proceso</option>
                        <option value="Espera">Espera</option>
                        <option value="Finalizado">Finalizado</option>
                    </select>

                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>