<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Este es un programa que busca crear un crud de usurios, clientes, contactos, reuniones y tickets. Todo
            desarrollado con rest </p>
    </div>
</section>