<div class="jumbotron mt-4">
    <h1 class="display-4"> CRM App Nodejs and Mongodb</h1>
    <p class="lead">Este proyecto busca crear un sistema lo mas entendible facil y pratico para la utlizacion de tecnologias como rest, moogodb, nodejs, passport, handlesbars entre muchos otros. Todo llegar utilizar herramientas del presente</p>
        <hr class="my-4">
        <p>Evitar ingresar datos errores, por que una belleza como este portecto no se lo menrece.</p>
</div>