<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">CRM APP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>

            </ul>
            <ul class="narbar-nav ml-auto">
                <ul class="navbar-nav">
                    {{#unless user}}

                    <li class="nav-item active">
                        <a class="nav-link" href="/users/signin">Login <span class="sr-only">(current)</span></a>
                    </li>

                    {{/unless}}

                    {{#if user}}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Menu
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {{#if user.rol}}
                            <a class="dropdown-item" href="/users">Users</a>
                            {{/if}}
                            <a class="dropdown-item" href="/clients">Clients</a>
                            <a class="dropdown-item" href="/metings">Metings</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/users/logout">Logout</a>
                        </div>
                    </li>
                    {{/if}}
                </ul>
            </ul>
        </div>
    </div>
</nav>