<div>
    <a href="/contacts/add/{{idClient}}">
        <button class="btn btn-success">+ New Contact</button>
    </a>
</div>
<table class="table table-dark float-left ">

    <thead>
        <tr>
            <th colspan="8" scope="rowgroup" class="text-center">Contacts</th>
        </tr>
        <tr class="text-center table-dark text-dark">
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Job</th>
            <th colspan="2" scope="col">Actions</th>
        </tr>

    </thead>
    <tbody>
        {{#if contacts}}
        {{#each contacts}}
        {{#each this}}
        {{#if name}}
        <tr class="text-center table-light text-dark">
            <th scope="row">{{_id}}</th>
            <td>{{name}}</td>
            <td>{{lastname}}</td>
            <td>{{email}}</td>
            <td>{{phone}}</td>
            <td>{{job}}</td>
            <td>
                <a href="/contacts/view/{{_id}}" class="btn btn-success btn-block">View</a>
                <a href="/contacts/edit/{{_id}}" class="btn btn-primary btn-block mt-0">Edit</a>
                <form action="/contacts/delete/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="idClient" value="{{client}}">
                    <button type="submit" class="btn btn-danger btn-block ">Delete</button>
                </form>
            </td>
        </tr>
        {{/if}}
        {{/each}}
        {{/each}}
        {{/if }}


    </tbody>
</table>