<div class="col-md-4 mx-auto">
    <div class="card text-center">
        <div class="card-header">
            <h3>Edit Contact</h3>
        </div>
        <div class="card-body">
            <form action="/contacts/edit-contact/{{contact._id}}?_method=PUT" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <div class="form-group">
                    <div class="form-group">
                        <input type="hidden" name="client" class="form-control" placeholder="Client"
                            value="{{contact.client}}" required>

                    </div>
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" value="{{contact.name}}" placeholder=" Name"
                            required>
                    </div>

                    <div class="form-group">
                        <input type="text" name="lastname" class="form-control" value="{{contact.lastname}}"
                            placeholder="Last Name" required>
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" value="{{contact.email}}"
                            placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <input type="number" name="phone" class="form-control" value="{{contact.phone}}"
                            placeholder="Phone" required>
                    </div>
                    <div class="form-group">

                        <input type="text" name="job" class="form-control" value="{{contact.job}}" placeholder="Puesto"
                            required>

                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit">
                            Save
                        </button>
                    </div>
            </form>
        </div>
    </div>
</div>