{{#if user.rol}}
<div>
    <a href="/users/signup">
        <button class="btn btn-success">+ New User</button>
    </a>
</div>
<table class="table table-dark float-left ">

    <thead>
        <tr>
            <th colspan="8" scope="rowgroup" class="text-center">Users</th>
        </tr>
        <tr class="text-center table-dark text-dark">
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Username</th>
            <th colspan="2" scope="col">Actions</th>
        </tr>

    </thead>
    <tbody>
        {{#if users}}
        {{#each users}}
        {{#each this}}
        {{#if name}}
        <tr class="text-center table-light text-dark">
            <th scope="row">{{_id}}</th>
            <td>{{name}}</td>
            <td>{{lastname}}</td>
            <td>{{username}}</td>
            {{!-- <td>{{password}}</td> --}}
            {{!-- <td>{{rol}}</td> --}}

            <td>
                <a href="/users/view/{{_id}}" class="btn btn-success btn-block">View</a>
                <a href="/users/edit/{{_id}}" class="btn btn-primary btn-block mt-0">Edit</a>
                {{#unless rol}}
                <form action="/users/delete/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger btn-block ">Delete</button>
                </form>
                {{/unless}}
            </td>
        </tr>
        {{/if}}
        {{/each}}
        {{/each}}
        {{/if }}


    </tbody>
</table>
{{else }}
<h1>Lo siento no eres administrador</h1>
{{/if }}