{{#if user.rol}}
<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header text-center">
                <h1 class="h4">
                    Edit User
                </h1>
            </div>
            <div class="card-body">
                <form action="/users/edit-user/{{users._id}}?_method=PUT" method="POST">
                    <input type="hidden" name="_method" value="PUT">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Name" value="{{users.name}}"
                            required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="lastname" placeholder="Last Name"
                            value="{{users.lastname}}" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="username" placeholder="User Name"
                            value="{{users.username}}" readonly required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="confirm_password"
                            placeholder="Confirm Password" required>
                    </div>
                    <button class="btn btn-primary btn-block">
                        Signup
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{{else}}
<h1>Lo siento no eres administrador</h1>
{{/if}}