<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card mt-4 text-center">
      <div class="card-header">
        <h1 class="h4">
          Account Login
        </h1>
      </div>
      <img src="/img/rest.png" class="rounded-circle mx-auto d-block logo m-4">
      <div class="card-body">
        <form action="/users/signin" method="POST">
          <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="User Name" autofocus>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password">
          </div>
          <button class="btn btn-primary btn-block">
            Signin
          </button>
        </form>
      </div>
    </div>
  </div>
</div>