{{#if user.rol}}
<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header text-center">
        <h1 class="h4">
          Account Register
        </h1>
      </div>
      <div class="card-body">
        <form action="/users/signup" method="POST">
          <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="Name" value="{{name}}" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="lastname" placeholder="Last Name" value="{{lastname}}"
              required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="User Name" value="{{username}}"
              required>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" value="{{password}}"
              required>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password"
              value="{{confirm_password}}" required>
          </div>
          <button class="btn btn-primary btn-block">
            Signup
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{{else}}
<h1>Lo siento no eres administrador</h1>
{{/if}}