{{#if user.rol}}
<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header text-center">
                <h1 class="h4">
                    View User
                </h1>
            </div>
            <div class="card-body">
                <form action="/users" method="GET">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Name" value="{{user.name}}"
                            disabled required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="lastname" placeholder="Last Name"
                            value="{{users.lastname}}" disabled required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="username" placeholder="User Name"
                            value="{{users.username}}" disabled required>
                    </div>
                    <div class="form-group text-center">
                        <label for="rol">Admin:</label>
                        {{#if users.rol}}
                        <input type="checkbox" class="form-control" id="rol" name="rol" placeholder="Rol" disabled
                            readonly required checked>
                        {{else}}
                        <input type="checkbox" class="form-control" name="rol" placeholder="Rol" disabled readonly
                            required>
                        {{/if}}

                    </div>
                    <div class="form-group ">
                        <input type="hidden" class="form-control" name="password" value="{{users.password}}"
                            placeholder="Password" required>
                    </div>
                    <div class="form-group">
                        <input type="hidden" class="form-control" value="{{users.password}}" name="confirm_password"
                            placeholder="Confirm Password" required>
                    </div>
                    <button class="btn btn-primary btn-block">
                        Close
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{{else}}
<h1>Lo siento no eres administrador</h1>
{{/if}}